/* BOX-SIZING PROPERTY */

* {
    box-sizing: border-box; 
   }

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: #ffffff;
}

/* LOGO DESKTOP */ 

  header #main-logo {
    padding: 20px 50px;
  }

  header #main-logo img {
    width: 80px;
  }

/* HEADER DESKTOP */

  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

  header li {
    list-style: none;
  }
  
  header a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-weight: 600;
  }

  header a:hover {
    color: #0065FC;
  }


  .container nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0 50px;
  }
  
  .container nav ul li a {
    display: inline-block;
    padding: 30px 20px 10px 20px;
    padding-bottom: 15px;
    border-top: 3px solid;
    border-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .container nav ul li a:hover {
    color: inherit;
    border-color: #0065FC!important;
  }
  
  a.active {
    color: #0065FC;
    border-color: #0065FC!important;
  }

  
/* MAIN DESKTOP */ 

main {
    flex-grow: 1;
    width: 100%;
}

/* FIRST DIVISION DESKTOP */

.first-div {
    margin: 10px 50px 0 50px;
}

/*Overridding the user agent stylesheet on chrome*/

ul {
padding-inline-start: 0;
margin-block-start: 0;
margin-block-end: 0;

}

/* Title H1 */
h1 {
    font-size: 21px;
}


/* SEARCH BAR DESKTOP */

  .search-container {
    display: inline-flex;
    flex: 0 0  auto;
    position: relative;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    overflow: visible;
    margin: 10px 0 20px 0;
    max-width: 100%;
  }

  form i {
      background-color: #f2f2f2;
      border-top-left-radius: 13px;
      border-bottom-left-radius: 13px;
      margin: 0 0 0 -1px;
  }
  
  ::placeholder {
      font-weight: 700;
      color:black;
  }

  .map-marker { 
    padding: 16px;
  }
  
  .search-box {
    border: 0;
    padding: 0 10px;
    width: 100%;
    flex: 1;
    background-color: transparent;
    outline: none;
  }

  .search-button i {
      display: none;
  } 
  
  .search-button {
    background: #0065FC;
    z-index: 1;
    position: relative;
    border-color: #0065FC;
    border: 13px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    color: white;
    font-weight: 700;
    padding: 16px;
    cursor: pointer;
  }

  .search-button:hover {
    box-shadow: 0px 5px 15px #bfbfbf;
    transition: all .3s ease-in-out;
  }

  /* FILTERS DESKTOP */

  .filter-container {
    margin: 10px 0px;
    justify-content: space-between; 
    align-content: center;
    display: inline-flex;
    flex: 1 1 300px;
    transition: all .3s ease-in-out;
  }

  .name-filters {
    text-decoration: none;
    color: black;
    font-weight: 800;

  }

  .filters {
    text-decoration: none;
    padding: 13px 15px 13px 0;
    display: inline-flex;
    flex: 1 1 300px;
    position: relative;
    border: 2px solid #dadada;
    border-radius: 120px;
    overflow: visible;
    margin: 20px 0 0 20px;
    font-weight: 700;
    color: black;
    flex-wrap: wrap;
    transition: all .3s ease-in-out;
  }

  .filters:hover {
    transition: all .3s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #0065FC;
  }

  /* FILTER ICONS DESKTOP */

  .money-icon::before {
    color:#0065FC;
    font-size: 17px;
    padding: 15px;
    background-color: #deebff;
    border-radius: 120px;
    margin: 0 15px 0 -5px;
  }

  .family-icon::before {
    color:#0065FC;
    padding: 15px 17px;
    background-color: #deebff;
    border-radius: 120px;
    margin: 0 15px 0 -5px;
    font-size: 18px;
  }

  .heart-icon::before {
    color:#0065FC; 
    padding: 15px;
    background-color: #deebff;
    border-radius: 120px;
    margin: 0 15px 0 -5px;
    font-size: 18px;
  }

  .dog-icon::before {
    color:#0065FC; 
    padding: 15px;
    background-color: #deebff;
    border-radius: 120px;
    margin: 0 15px 0 -5px;
    font-size: 18px;
}

/* INFORMATION SECTION & ICON DESKTOP */

.info-icon::before {
    color: #0065FC;
    border: 2px solid #ededed;
    border-radius: 120px;
    padding: 6px 10px;
    font-size: 10px;
}


.info-container a {
    line-height: 15px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding: 0 20px;
}

.info-container {
    margin: 50px 0;
    display: flex;
    align-items: center;
}

/* SECTION 1: "Hebergements a Marseille" DESKTOP*/

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 16px;
 }

 /* SECTION ARTICLE "Hebergements a Marseille" + SECTION ASIDE "Les plus populaires" */

 #all-containers {
    display: flex;
    margin: 50px;
}

/* ARTICLE CONTAINER DESKTOP*/

.article-container {
    flex: 3;
    background-color: #f2f2f2;
    width: 66%;
    border-radius: 30px;
    margin-right: 50px;
}

/* H2 *DESKTOP */

article h2 {
    padding-left: 30px;
    padding-top: 25px;
}

h2 {
    font-size: 22px;
}

.plus {
    padding-left: 30px;
    padding-bottom: 33px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.plus:hover {
    color: #0065FC ;
}

.card-body-acco {
    padding: 1px 5px 5px 15px;
    box-sizing: border-box;
    flex: 1 1 auto;
}

.card-title-acco {
    flex: 1 1 auto;
    margin-top: -8px;;
}

.card-exerpt-acco {
    flex: 1 1 auto;
    margin-top: -9px;
}

.card-rating-acco {
    flex: 1 1 auto;
    margin-top: -7px;
}

.three-row-containers {
    display: flex; 
    max-width: 100%;
    flex: 1 1 auto;
    justify-content: space-between;
    margin-left: 30px;
}

.one-card-container {
    display: block;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    margin: 15px 30px 15px 0;
    cursor: pointer;
    width: 400px;
    max-width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .3s ease-in-out;
}

.acco-images {
    box-sizing: border-box;
    object-fit: cover;
    object-position: center center;
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 140px;
    overflow: hidden;
    position: relative;
}

.acco-images img {
    width: 100%;
    max-width: 160%;
    min-width: 100%;
    max-height: 100%;
    height: 140px;
    position: absolute;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(0);
    /* Transition */ 
    transition-duration: .3s;
    transition-timing-function: ease;
}

.one-card-container:hover img {
    width: 120%;
}
.one-card-container:hover {
    transform: perspective(500px) translateZ(20px);
    color: #0065FC;
}

/* ASIDE CONTAINER "Les plus populaires" *DESKTOP*/

.aside-hi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
}

.chart-icon::before {
    color: black;  
    font-weight: 900;
    font-size: 20px;
}

.aside-container {
    flex: 1.2;
    width: 33%;
    background-color: #f2f2f2;
    border-radius: 30px;
    box-sizing: border-box;
    display: block;
}

.popular-container {
    display: flex;
    box-sizing: border-box;
    background-color: white;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    flex: 1 1 auto;
    border-radius: 20px;
    margin: 4% 8% 8% 8%;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .3s ease-in-out;
}

.card-body {
    flex: 1 1 auto;
    align-items: center;
    padding: 0 5px 0 15px;
    box-sizing: border-box;
    width: 57%;
    height: 30px; 
    position: relative;
}

.card-images {
    box-sizing: border-box;
    height: 148px;
    width: 40%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-images img {
    width: 180%;
    height: 300px;
    max-width: 100px;
    min-width: 180%;
    max-height: 100%;
    position: absolute;
    object-fit: cover;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(0); 
    transition-duration: .3s;
    transition-timing-function: ease;
}

.popular-container:hover {
    transform: perspective(500px) translateZ(20px);
    background-color: #deebff; 
}

.card-title {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    position: absolute;
}

.card-title h3 {
    margin-top: 8px;
}

.card-title p {
    margin-top: -10px; 
}

.card-rating {
    display: inline-block;
    position: absolute;
    padding: 10px 0 0 0;
    bottom: -114px;
}

/* STAR ICONS ARTICLE + ASIDE DESKTOP */

.checked {
    color: #0065FC;
    margin-left: -1px;
    margin-right: -1px;
    font-size: 13px;
}

.unchecked {
    color: #d3d3d3;
    margin-left: -1px;
    margin-right: -1px;
    font-size: 13px;
}

/* SECTION 2: "Activites a Marseille" *DESKTOP*/

#activity {
    max-width: 100%;
}

.act-wrapper {
    display: flex;
    margin-left: 50px;
}

.act-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

#activity h2 {
    margin-left: 50px;
}

.act-column > div {
    border-radius: 30px;
}

/* H3 TITLES *DESKTOP*/

.name-item {
    box-sizing: border-box;
    font-size: 16px;
    margin-left: 20px;
    padding: 0.5% 3% 0.5% 0.5%;
}

/* SIZE OF EACH SINGLE BOXES *DESKTOP*/

.single-box {
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    flex: auto;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: all .3s ease-in-out;
}

/* SECTION 2 WITH IMAGES *DESKTOP*/
img { 
    display: block;
}

.tall-image {
    box-sizing: border-box;
    object-fit: cover;
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tall-image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.two-image {
    box-sizing: border-box;
    object-fit: cover;
    height: 180px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.two-image img {
    width: 180%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.three-image {
    box-sizing: border-box;
    object-fit: cover;
    height: 110px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.three-image img {
    width: 180%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.four-image {
    box-sizing: border-box;
    object-fit: cover;
    height: 150px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.four-image img {
    width: 180%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.five-image {
    box-sizing: border-box;
    object-fit: cover;
    height: 140px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.five-image img {
    width: 180%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.single-box:hover {
    transform: perspective(500px) translateZ(20px);
    color:#0065FC;
}

    /* FOOTER DESKTOP*/

footer {
    background-color: #f2f2f2;
} 

footer .footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 30px 50px 50px 50px;
    margin-top: 30px;
    overflow: auto;

}

footer .footer-column {
    flex: 1 1 auto;    
}

footer .footer-container ul {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

footer .footer-container ul li {
    text-decoration: none;
    list-style-type: none;
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 10px;
}

footer .footer-container ul li a {
    font-weight: 500;
    font-size: 90%;
    text-align: left;
}

ul li:hover {
    color: #0065FC;
}

footer h3 {
    font-size: 16px;
    font-weight: 800;
}

  /* ***RESPONSIVE DESIGN // *TABLET DEVICE*** */

  @media screen and (min-width: 769px) and (max-width: 992px) {

     /* SECTION 1: "Hebergement a Marseille" *TABLET */

     #all-containers {
        flex-direction: column-reverse;
        max-width: 100%;
        padding: 0%;
        margin: 0;
    }

    .aside-hi {
        padding-top: 15px;
        margin-left: 0px;
        margin-right: 50px;
    }
    .aside-container {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }

    .plus {
        padding-left: 50px;
        padding-bottom: 30px;
    }

    article h2 {
    padding-left: 50px;
    padding-top: 0px;
    }

    article h3 {
        font-size: 16px;
        margin-top: inherit;
    }

    article p {
        font-size: 14px;
        font-weight: 500;
    }

    aside h2 {
        padding-top: 0px;
        padding-left: 6%; 
        padding-bottom: 0px;
    }
    .three-row-containers {
        max-width: 100%;
        margin: 0 0 0 50px;
    }

    .article-container {
        width: 100%;
        padding: 0;
        background-color: white;
        border-radius: 0;
    }

    .acco-images {
        flex: auto;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    .acco-images img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .card-title h3{
        margin-top: 5px;
    }

    .card-rating {
        bottom: 0;
    }

    .card-body-acco {
        padding: 22px 5px 5px 15px; 
    }

    h3 {
        margin-top: 0px;
    }

    aside h3 {
        font-size: 16px;
    }

    aside p {
        font-size: 14px;
    }

    .card-body {
        height: 100px;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .card-images {
        height: 145px;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        }

    .popular-container {
        border-radius: 30px;
        margin: 3%;
        padding-bottom: 15px;
        width: 111px;
        cursor: pointer;
        flex-direction: column;
        align-items: center;
        display: block;
        box-sizing: border-box;
        padding-right: 5px;
        }

        .popular-column-tablette {
            display: flex;
            flex: auto;
            margin: 0% 4% 4% 4%;
        }

        .one-card-container {
            width: 100%;
            border-radius: 30px;
            margin-right: 50px;
            margin-top: 25px;
            margin-bottom: 25px;
        }

    
    /* SECTION 2: "Activites a Marseille" *TABLET*/

    .act-wrapper {
        flex-direction: column;
        margin-left: 50px;
    }

    .single-box {
        margin-bottom: 25px;
        margin-top: 25px;
        margin-right: 50px;
    }
    
    .act-column {
        flex-direction: column;
        justify-content: space-between;
    }

    #flex-tablette1 {
        width: 100%;
        flex-direction: row; 
    }

    #flex-tablette2 {
        width: 100%;
        flex-direction: row; 
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        margin-top: 15px;
    }

    .act-column > div {
        border-radius: 20px;
    }

    .tall-image {
        height: 200px;
        top: 100%;
    }

    .two-image {
        height: 200px;
        top: 100%;
    }

    .three-image {
        height: 200px;
        top: 50%;
    }

    .three-image img {
        width: 50%;
    }

    .four-image {
        height: 200px;
        top: 100%;
    }

    .five-image {
        height: 200px;
        top: 100%;
        width: 100%;
    }

}

  /* *** RESPONSIVE DESIGN: *MOBILE*** */

  @media screen and (max-width: 768px) {
   
    body {
        padding: 0;
        margin-top: 20px;

    }

    .first-div {
        padding: 0px;
        margin: 20px;
    }

    /* HEADER *MOBILE */

    header .container {
        flex-direction: column;
        align-items: center;
        padding: 0;
      }

    header .container nav ul {
        padding: 0 0;
    }

    header nav {
        width: 100%;
        margin-bottom: 30px;
      }

    header nav ul li {
        flex-grow: 6;
        width: 100%;
      }

    header .container nav ul li a {
        padding-top: 0;
        border-top: inherit;
        border-bottom: 3px solid #F2F2F2;
      }

    /* H1 MOBILE */

    h1 {
        font-size: 23px;
        line-height: 30px;
    }

    /* FIRST PARAGRAPH UNDER H1 *MOBILE */

    p #ville-nature {
        font-size: 27px; 
    }

    /* SEARCH BAR MOBILE *MOBILE*/

    .search-container {
        margin: 0 auto;
        overflow: visible;
        width: 100%;
        }

    .search-box {
        border: 10px;
        margin: 3px 0px;
        flex: 1 1 auto;
        }

    .button-text {
        display: none;
        }
  
    .search-button {
        background: #0065FC;
        text-overflow: inherit;
        position: relative;
        border-color: #0065FC;
        color: #0065FC;
        border-bottom-left-radius: 13px;
        border-top-left-radius: 13px;
        font-weight: 700;
        padding: 7px 17px;
        cursor: pointer;
          }

    .search-button:hover {
        background-color: #4088f5;
        }

    .search-button i {
        color: white;
        display: contents;
        }

    .map-marker { 
        padding: 16px 19px 16px 19px;
          }

       /* FILTERS *MOBILE */

    #filter-container {
        width: 100%;
        margin: 20px 0 0 0;
    }   

    .filter-container {
        font-size: 15px;
        flex-direction: column;
    }

    .filters {
        margin: 10px 4px;
        font-size: 14px;
        border-color: #dadada;
    }

    #saving-filter {
        margin-left: 4px;
    }

    /* INFORMATION TEXT + ICON *MOBILE */
    
    .info-container {
        margin: 20px 0;
        gap: 10px 10px;
        align-items: stretch; 
    }

    .info-container a {
        font-size: 15px;
        font-weight: 500;
        padding: 0;
        gap: 5px;
    }

    .info-icon::before {
        color: #0065FC;
        border: 2px solid #ededed;
        border-radius: 120px;
        padding: 6px 10px;
    } 
    
     /* SECTION 1: "Hebergement a Marseille" *MOBILE */

     #all-containers {
         flex-direction: column-reverse;
         margin-right: 0px;
         margin-left: 0px;
         margin-top: 0;
         margin-bottom: 0;
     }

     .plus {
         padding-left: 20px;
         padding-bottom: 20px;
     }

     .article-container {
         flex-direction: column;
         width: 100%;
         border-radius: 0;
         padding: 0%;
         margin: 0%;
         background-color: white;
     }

     .aside-hi {
         padding-top: 15px;
         padding-bottom: 5px;
         margin-left: 20px;
         margin-right: 20px;
     }

     h3 {
         margin-top: 19px;
         margin-bottom: 19px;
     }

     aside h3 {
         margin-top: 10px;
         font-weight: 700;
     }

     .aside-container {
         width: 100%;
         margin: 3% 0;
         border-radius: 0;
         padding-bottom: 20px;
         padding-top: 10px;
     }

     article h2 {
        padding-left: 20px;
        padding-top: 10px;
        margin-bottom: 0px;
     }

     aside h2 {
         padding-top: 0px;
         padding-left: 0px;
     }

     h2 {
        font-size: 20px;
     }

     .three-row-containers {
         flex-direction: column;
         margin-left: 18px;
         margin-right: 18px;
     }

     .acco-images {
         flex: auto;
         border-top-right-radius: 15px;
         border-top-left-radius: 15px;
         height: 117px;
         width: 100%;
     }

     .card-exerpt-acco {
         margin-top: -13px;
         font-size: 15px;
         font-weight: 500;
     }

     .card-rating-acco {
         margin-top: -10px;
     }

     .card-title-acco {
         margin-top: -10px;
         font-size: 15px;
     }

     aside h3 {
         font-size: 16px;
     }

     aside p {
         font-size: 14px;
     }

     .card-body {
         height: fit-content;
     }

     .card-images {
        height: 145px;
        width: 48%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
     }

     .card-title {
         font-size: 15px;
     }

     .card-rating {
         bottom: -136px;
     }

     .popular-container {
        border-radius: 15px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5px;
        margin-bottom: 20px;
     }

     .one-card-container {
        border-radius: 15px;
        width: 100%;
        margin: 20px 20px 0 0;

     }

     /* STAR ICONS *MOBILE */

    .checked {
        font-size: 12px;
        margin-left: -1px;
        margin-right: -1px;
    }

    .unchecked {
        font-size: 12px;
        margin-left: -1px;
        margin-right: -1px;
    }

        /* SECTION 2 "Activites a Marseille" *MOBILE */

     .act-wrapper {
        flex-direction: column;
        margin-left: 20px;
     }

     .single-box {
         margin-right: 20px;
         margin-top: 10px;
         margin-bottom: 10px;
     }

     .tall-image {
        height: 130px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
     }

     #activity h2 {
        margin-left: 20px;
     }

     #activities {
        font-size: 20px;
    }

     .name-item {
         margin-left: 20px;
         font-size: 15px;
     }

     .two-image {
        height: 130px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
     }

     .three-image {
        height: 130px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
     }

     .four-image {
        height: 130px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
     }

     .five-image {
        height: 130px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
     }

     #act-title {
        margin-left: 20px;
     }

     .act-column > div {
        border-radius: 15px;
    }

        /* FOOTER MOBILE */

        footer .footer-container {
            flex-direction: column;
            padding-left: 20px;
          }
    }


